*{
  overflow: auto;
}
.BackgroundDescription{
  background-color: #DCDCDC;
  margin: 60px 0;

}

.Description{
  float: left;
  width: 50%;
  height: 500px;
}

.Description h1{
  color: #DC153C;
  margin: 100px 150px 20px 150px;
}
.Description p{
  line-height: 2rem;
  color: #5dabad;
  margin: 0 150px;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.FigureForBackGround{
  float: right;
  width: 50%;
}

.Parent{
  width: 500px;
  height: 500px;
  position: relative;
}
.threeImages1{
  border-color: white;
  width:130px;
  height: 130px;
  position: absolute;
  bottom: 160px;
  right: 590px;
}
.threeImages2{
  border-color: white;
  width:130px;
  height: 130px;
  position: absolute;
  bottom: 160px;
  right: 430px;
}
.threeImages3{
  border-color: white;
  width:130px;
  height: 130px;
  position: absolute;
  bottom: 160px;
  right: 270px;
}
.UpdatesSection{
  margin: 60px 230px;
  line-height: 2rem;
}
.UpdatesSection h1{
  margin-bottom: 30px;
  text-align: center;
  line-height: 2.5rem;
}
.Updates{
  float: left;
  width: 300px;
  background-color: #DCCCDC;
  margin: 20px 20px;
}

.h3Updates{
margin-left: 20px;
text-align: left;
}

.bigFigures{
  margin-left: 20px;
  width: 250px;
  height: 150px;
  border-radius: 10px;
}

.figCaptionImages{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.figuresCaption{
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
  padding-bottom: 30px;
}